h1 {
  font-weight: bold;
  user-select: none;
}

hr {
  border: none;
  border-top: thin solid lightgrey;
}

label {
  display: block;
  user-select: none;
}

input[type="text"],
select {
  width: 250px;
  border: thin solid lightgray;
  border-left-width: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
