button {
  background: transparent;
  transition: 0.2s;
  border: 0;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    background: red;
    color: white;
  }
}

.name {
  font-weight: bold;
  margin-right: 0.5rem;
}
