/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  widows: 100%;
}

hr {
  display: block;
  padding: 0px;
  width: 100%;
  margin: 1.5em 0;
  border: none;
  border-top: thin solid lightgray;
}
