/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  widows: 100%;
}

hr {
  display: block;
  border: none;
  border-top: thin solid lightgrey;
}
